<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.exam.ts.mapper.ExamStudentMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.exam.ts.pojo.ExamStudentDO">
        <id column="st_id" property="stId" />
        <result column="st_exam" property="stExam" />
        <result column="st_stu" property="stStu" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        st_id, st_exam, st_stu
    </sql>

</mapper>
